<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastrar Diretoria</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col-12">
                    <a th:href="@{voltar-index}" class="btn btn-info mb-3 mb-3">Voltar</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <img th:src="@{/images/LogoQualiNutri.png}" alt="Logo" style="height: 5rem; width: 10rem;">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-warning">Cadastrar Diretoria</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <form th:action="@{/diretoria/gravar-diretoria}" th:object="${diretoria}" method="POST"> 
                        <p>Nome: <input type="text" th:field="${diretoria.nome}" placeholder="Insira o nome" class="form-control mt-4 col-4">
                        <p>Sobrenome: <input type="text" th:field="${diretoria.sobrenome}" placeholder="Insira o sobrenome" class="form-control mt-4 col-4">  
                        <p>Email: <input type="email" th:field="${diretoria.email}" placeholder="Insira o email" class="form-control mt-4 col-4">
                        <p>Telefone: <input type="text" th:field="${diretoria.telefone}" placeholder="Insira o número de telefone" class="form-control mt-4 col-4">  
                        <p>Celular: <input type="text" th:field="${diretoria.celular}" placeholder="Insira o número de celular" class="form-control mt-4 col-4">
                        <p>ID do usuário: <input type="text" th:field="${diretoria.usuarioId}" placeholder="Insira o ID do Usuário" class="form-control mt-4 col-4"></p>

                        <button type="submit" class="btn btn-warning mt-4"> Cadastrar</button> 
                    </form> 
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
</html>


