<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar Relatório</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col-12">
                    <a th:href="@{voltar-index}" class="btn btn-info mb-3 mb-3">Voltar</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <img th:src="@{/images/LogoQualiNutri.png}" alt="Logo" style="height: 5rem; width: 10rem;">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-warning">Editar Relatório</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <form th:action="@{/relatorio/buscar-cliente-nutricionista}" method="POST">
                        <p>ID do Cliente: <input type="text" th:field="${relatorio.clienteId}" placeholder="Insira o ID do cliente" class="form-control mt-4 col-4"></p>
                        <p>ID do Nutricionista: <input type="text" th:field="${relatorio.funcionarioId}" placeholder="Insira o ID do(a) Nutricionista" class="form-control mt-4 col-4"></p>
                        <button type="submit" class="btn btn-primary mt-4">Buscar Nomes</button></form>
                    <p>Nome do Cliente: <span th:text="${clienteNome}"></span></p>
                    <p>Nome do Nutricionista: <span th:text="${nutricionistaNome}"></span></p>

                    <form th:action="@{/relatorio/gravar-relatorio}" th:object="${relatorio}" method="POST"> 
                        <p>Data: <input type="date" th:field="${relatorio.data}" placeholder="Insira a data" class="form-control mt-4 col-4">
                        <p>Hora entrada: <input type="text" th:field="${relatorio.hora_Entrada}" placeholder="Insira a hora de entrada (HH:mm)" class="form-control mt-4 col-4">  
                        <p>Hora saída: <input type="text" th:field="${relatorio.hora_Saida}" placeholder="Insira a hora de saída (HH:mm)" class="form-control mt-4 col-4">
                        <p>Texto Relatório: <textarea th:field="${relatorio.texto_Relatorio}" placeholder="Digite o texto do relatório" class="form-control mt-4 col-4"></textarea></p>

                        <input type="hidden" th:field="*{id}">
                        <p>
                            <input type="submit" value="Editar" class="btn btn-secondary" />
                        </p>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>

