<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar Cliente</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="@{/css/style-cadCliente.css}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col-12">
                    <a th:href="@{voltar-index}" class="btn btn-info mb-3 mb-3">Voltar</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <img th:src="@{/images/LogoQualiNutri.png}" alt="Logo" style="height: 5rem; width: 10rem;">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-warning">Editar Cliente</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <form th:action="@{/cliente/gravar-cliente}" th:object="${cliente}" method="POST"> 
                        <p>Nome Fantasia: <input type="text" th:field="${cliente.nome_Fantasia}" placeholder="Insira  o nome fantasia" class="form-control mt-4"></p>
                        <p>Razão Social: <input type="text" th:field="${cliente.razao_Social}" placeholder="Insira a razão social" class="form-control mt-4"></p> 
                        <p>CNPJ: <input type="text" th:field="${cliente.cnpj}" placeholder="Insira o cnpj" class="form-control mt-4"></p>
                        <p>Categoria: <select th:field="${cliente.categoria}" class="form-control mt-4"></p>
                        <option value="AÇOUGUE">Açougue</option>
                        <option value="BAR">Bar</option>
                        <option value="HOTEL">Hotel</option>
                        <option value="LANCHONETE">Lanchonete</option>
                        <option value="POUSADA">Pousada</option>
                        <option value="PADARIA">Padaria</option>
                        <option value="RESTAURANTE">Restaurante</option>
                        <option value="SUPERMERCADO">Supermercado</option>
                        </select>    
                        <p>Nome Responsável Legal: <input type="text" th:field="${cliente.nome_responsavel_legal}" placeholder="Insira o nome do responsável legal" class="form-control mt-4"></p>
                        <p>Sobrenome Responsável Legal: <input type="text" th:field="${cliente.sobrenome_responsavel_legal}" placeholder="Insira o email" class="form-control mt-4"></p>
                        <p>Email Responsável Legal: <input type="email" th:field="${cliente.email_responsavel_legal}" placeholder="Insira o complemento" class="form-control mt-4"></p>
                        <p>Telefone Responsável Legal: <input type="text" th:field="${cliente.telefone_responsavel_legal}" placeholder="Insira o telefone" class="form-control mt-4"></p>
                        <p>Celular Responsável Legal: <input type="text" th:field="${cliente.celular_responsavel_legal}" placeholder="Insira o celular" class="form-control mt-4"></p>
                        <p>Nome Gerente: <input type="text" th:field="${cliente.nome_gerente}" placeholder="Insira o nome" class="form-control mt-4"></p>
                        <p>Sobrenome Gerente: <input type="text" th:field="${cliente.sobrenome_gerente}" placeholder="Insira o sobrenome" class="form-control mt-4"></p>
                        <p>Email Gerente: <input type="email" th:field="${cliente.email_gerente}" placeholder="Insira o email" class="form-control mt-4"></p>
                        <p>Telefone Gerente: <input type="text" th:field="${cliente.telefone_gerente}" placeholder="Insira o telefone" class="form-control mt-4"></p>
                        <p>Celular Gerente: <input type="text" th:field="${cliente.celular_gerente}" placeholder="Insira o celular" class="form-control mt-4"></p>
                        <p>Nome Subgerente: <input type="text" th:field="${cliente.nome_subgerente}" placeholder="Insira o nome" class="form-control mt-4"></p>
                        <p>Sobrenome Subgerente: <input type="text" th:field="${cliente.sobrenome_subgerente}" placeholder="Insira o sobrenome" class="form-control mt-4"></p>
                        <p>Email Subgerente: <input type="email" th:field="${cliente.email_subgerente}" placeholder="Insira o email" class="form-control mt-4"></p>
                        <p>Telefone Subgerente: <input type="text" th:field="${cliente.telefone_subgerente}" placeholder="Insira o telefone" class="form-control mt-4"></p>
                        <p>Celular <input type="text" th:field="${cliente.celular_subgerente}" placeholder="Insira o celular" class="form-control mt-4"></p>
                        <p>ID do endereço <input type="text" th:field="${cliente.enderecoId}" placeholder="Insira o ID do Endereço" class="form-control mt-4 col-4"></p>
                        </p>
                        <input type="hidden" th:field="*{id}">
                        <p>
                            <input type="submit" value="Editar" class="btn btn-secondary" />
                        </p>
                        <!-- <a class="dropdown-item" th:href="@{/cliente/editar-cliente(id=${cliente.id})}">Editar Clientes</a>-->
                    </form> 
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>


