<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar Endereço</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col-12">
                    <a th:href="@{voltar-index}" class="btn btn-info mb-3 mb-3">Voltar</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <img th:src="@{/images/LogoQualiNutri.png}" alt="Logo" style="height: 5rem; width: 10rem;">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-warning">Editar Endereço</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <form th:action="@{/endereco/gravar-endereco}" th:object="${endereco}" method="POST"> 
                        <p>Rua: <input type="text" th:field="${endereco.rua}" placeholder="Insira a rua" class="form-control mt-4 col-4">
                        <p>Número: <input type="text" th:field="${endereco.numero}" placeholder="Insira o número" class="form-control mt-4 col-4">  
                        <p>Bairro: <input type="text" th:field="${endereco.bairro}" placeholder="Insira o bairro" class="form-control mt-4 col-4">
                        <p>CEP: <input type="text" th:field="${endereco.cep}" placeholder="Insira o cep" class="form-control mt-4 col-4">  
                        <p>Cidade: <input type="text" th:field="${endereco.cidade}" placeholder="Insira a cidade" class="form-control mt-4 col-4">
                        <p>Estado: <input type="text" th:field="${endereco.estado}" placeholder="Insira o estado" class="form-control mt-4 col-4">
                        <p>Complemento: <input type="text" th:field="${endereco.complemento}" placeholder="Insira o complemento" class="form-control mt-4 col-4">
                            <input type="hidden" th:field="*{id}">
                        <p>
                            <input type="submit" value="Editar" class="btn btn-secondary" />
                        </p>
                    </form> 
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>

